* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#balls-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.ball {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #a686cc;
    animation: pop 0.5s ease-in-out;
}

@keyframes pop {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8064A2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #675182;
}

#drawn-numbers {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

#drawn-numbers li {
    font-size: 18px;
    margin-bottom: 10px;
}
